body{
    background-color: #131518;
    font: 1em sans-serif;
    color: #969FAD;
}
.formsec1{
    
    background-color:  #232A34;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    width: 50%;

}
.ratting {
    
    background-color: #262E38 ;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
  }
  .ratting:hover {
    background-color: #FC7614;
    color: white;
  }
  .ratting:focus {background: #969FAD;}
 
  .subbtn{
    background-color: white ;
    color: #FC7614;
    left: 7.77%;
    right: 9.47%;
    top: 81.49%;
    bottom: 7.69%;
    border-radius: 12px ;
    padding: 10px 30px;
    margin: auto;
    
    text-align: center;

  }
  h2{
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: white;
  }
  p{
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }