body{
    background-color: #131518;
    font: 1em sans-serif;
    color: #969FAD;
}
.formsec1{
    
    background-color:  #232A34;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 30px;

}
.ratting {
    
    background-color: #262E38 ;
    border: none;
    color: red;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
  }
  .ratting:hover {
    background-color: #FC7614;
    color:#FC7614;
  }
  .ratting:focus {background: #969FAD;
  
  }
 
  .subbtn{
    background-color: white ;
    color: #FC7614;
    left: 7.77%;
    right: 9.47%;
    top: 81.49%;
    bottom: 7.69%;
    border-radius: 12px ;
    padding: 10px 30px;
    margin: auto;
    cursor: pointer;
    
    text-align: center;

  }
.subbtn:hover {
  background-color: #FC7614;
  color:white;
}

  h2{
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: white;
  }
  p{
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .imgthankyou{
    width: 50%;
    height: auto;
  }